.preview {
    width: 400px;
    height: 40px;
    background: red;
}

.card {
    width: 400px;
    height: 60px;
    cursor: pointer;
    background: #E8E8E8;
}

.picker {
    position: fixed;
    margin: 0;
}